body {
    background-color: #abe10c;
}

header {
    background-color: hotpink;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.section-one {
    background-color: blueviolet;
}

.flexgrow-container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}

.box1 {
    background-color: #8a6fdf;
    height: 550px;
    display: flex;
    align-items: top;
    justify-content: center;
}

.box2 {
    background-color: #ffdb15;
    height: 533px;
    display: flex;
    align-items: top;
    justify-content: center;
}

.box3 {

    background-color: #ff5765;
    height: 700px;
    display: flex;
    align-items: top;
    justify-content: center;
}

iframe { 
    padding: 5px;
}

.poster1 {
    background-color: #8a6fdf;
    height: 500px;
    display: flex;
    align-items: top;
    justify-content: left;
}

.poster1img {
    margin-top: 75px;
    margin-left: -105px;
}

h3 {
    margin-left: 20px;
    white-space: nowrap;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    align-items: left;
    margin-top: 75px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.axialimg {
    margin-top: 75px;
    margin-left: -65px;
}

.typobox1 {
    background-color: #ffdb15;
    height: 500px;
    display: flex;
    align-items: top;
    justify-content: left;
}

.typoimg1 {
    margin-top: 75px;
    margin-left: -80px;
}

.typobox2 {
    background-color: #ff5765;
    height: 500px;
    display: flex;
    align-items: top;
    justify-content: left;
}

.typoimg2 {
    margin-top: 75px;
    margin-left: -125px;
}

.typobox3 {
    background-color: #8a6fdf;
    height: 500px;
    display: flex;
    align-items: top;
    justify-content: left;
}

.typoimg3 {
    margin-top: 75px;
    margin-left: -60px;
}

.typobox4 {
    background-color: #ffdb15;
    height: 500px;
    display: flex;
    align-items: top;
    justify-content: left;
}

.typoimg4 {
    margin-top: 75px;
    margin-left: -110px;
}

h4 {
    font-size: 25px;
    white-space: nowrap;
}

.codingbox1 {
    background-color: #8a6fdf;
    height: 400px;
    display: flex;
    align-items: top;
    justify-content: left;
}

.worksheet1 {
    margin-top: 75px;
    margin-left: -465px;
}

p2 {
    align-items: left;
    margin-top: 75px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.codingbox2 {
    background-color: #ffdb15;
    height: 900px;
    display: flex;
    align-items: top;
    justify-content: left;
}

.worksheet2 {
    margin-top: 75px;
    margin-left: -325px;
}

.codingbox3 {
    background-color: #ff5765;
    height: 750px;
    display: flex;
    align-items: top;
    justify-content: left;
}

.worksheet3 {
    margin-top: 75px;
    margin-left: -225px;
}

.codingbox4 {
    background-color: #8a6fdf;
    height: 1000px;
    display: flex;
    align-items: top;
    justify-content: left;
}

.worksheet4 {
    margin-top: 75px;
    margin-left: -230px;
}